@model List<Bán_Hàng_Onl_WebForm.Models.CartItem>
@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{

    <script src="/Scripts/controller/CartController.js"></script>
}
<h2 style="padding-left:10em ; padding-top:0.7em ;padding-bottom:0.4em; font-size:40px">@ViewBag.Title</h2>
<style>
    td {
        border: 10px solid white;
    }

    i {
        font-style: oblique
    }
</style>
<div class="w3-content">
    <div class="w3-section">
        @if (Model.Count > 0)
        {
            <table style="text-align:center ; border-color:white;">
                <thead>
                    <tr>
                        <td> <i>Mã sản phẩm</i></td>
                        <td> <i>Tên sản phẩm</i></td>
                        <td> <i>Hình ảnh mô tả</i></td>

                        <td> <i>Số lượng</i></td>
                        <td> <i>Đơn giá</i></td>
                        <td> <i>Thành tiền</i></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.Product.productID</td>
                            <td> @item.Product.productName</td>
                            <td> <img style="width :100px ; height :80px" src="data:image;base64,@System.Convert.ToBase64String(@item.Product.Image)" /></td>
                            <td> <input type="text" class="Quantity" data-id="@item.Product.productID" value="@item.Quantity" /></td>
                            <td> @item.Product.Productprice.GetValueOrDefault(0)</td>
                            <td> @(item.Quantity*item.Product.Productprice.GetValueOrDefault(0))</td>
                        </tr>
                    }
                </tbody>
            </table>
            <button id="btnContinue" class="btn">Tiếp tục mua hàng</button>
            <button id="btnUpdate" class="btn">Cập nhật giỏ hàng</button>
            <button id="btnDelete" class="btn">Xóa giỏ hàng</button>
            <button id="btnPayment" class="btn" onclick="location.href = '@Url.Action("payment", "Cart")'">Thanh Toán</button>
        }
        else
        {
    <div style="padding-left:25em">
        <span class="alert alert-danger" style="text-align:center"> Chưa có sản phẩm nào trong giỏ hàng </span>
    </div>
    <div style="padding-left: 31em ; padding-top:2em">
        <button id="btnContinue" class="btn" >Đi mua hàng</button>
    </div>
        }
    </div>
</div>


